@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Poppins', sans-serif;
}

.my-bg{
    background-color: #03e9a4;
}

.my-container{
    @apply w-[80%] mx-auto
}

.my-button{
   border-radius: 20px;
   @apply my-bg px-5 text-lg py-2  text-white font-semibold
}