@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.my-bg{
    background-color: #03e9a4;
}

.my-container{
    @apply w-[90%] lg:w-[80%] mx-auto
}

.my-button{
  transition: all ease .4s;
  border-radius: 20px;
  @apply my-bg px-5 text-lg py-2  text-white font-semibold
}

.my-button:hover{
  background: #06d497;
}

.my-button:disabled{
    @apply bg-[#60726d]
}

.my-button-second{
  border-radius: 20px;
  @apply bg-[#015a35] px-5 text-lg py-2  text-white font-semibold
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d4ffe9;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #03e9a4;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #03e9a4;
  }